* {
	margin: 0;
	position: 0;
}

body {
	font-family: 'Playfair Display', serif;
	}

.container {
	margin: 0 auto;
	text-align: center;
	height: 100%;
	position: relative;
    max-width: 800px;
}

.container .content {
    position: absolute; 
    top: 40px;
    left: 60px;
    background: rgba(250, 250, 250, 0.95); 
    color: #003300; 
    width: 80%; 
    padding: 20px; /* Some padding */
    margin: 0 auto;
}

.header {
	padding: 40px 0;

}

#survey-form {
	text-align: left;
	padding-left: 120px;
	padding-top: 20px;
}

.form-block {
	padding: 10px 0;
}

.main-dscr {
	font-weight: bold;
	padding-bottom: 10px;
}

#name,
#email {
	width: 300px;
    height: 30px;
    padding-left: 5px;
    margin-top: 5px;
    background-color: rgb(248, 248, 248);
    font: 400 11px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    color: #003300;
}

#number {
	width: 120px;
    height: 30px;
    padding-left: 5px;
    margin-top: 5px;
    background-color: rgb(248, 248, 248);
    font: 400 12px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    color: #003300;
}

#dropdown {
	width: 120px;
    height: 30px;
    padding-left: 5px;
    margin-top: 5px;
    color: #003300;
}

#comments-textarea {
	width: 390px;
	padding: 10px 5px;
    margin-top: 5px;
    background-color: rgb(248, 248, 248);
    cursor: default;
    font: 400 12px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    color: #003300;
}

#name::placeholder,
#email::placeholder,
#number::placeholder,
#comments-textarea::placeholder {
	color: #003300;
	font-size: 12px
}

.form-text {
	font-size: 14px;
	line-height: 2;
}

#submit {
	width: 120px;
	height: 30px;
	color: #f8f8f8;
	font-size: 16px;
	background-color: rgba(0, 51, 0, 0.9);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
  
}

footer {
	padding: 40px 0;
}


